.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: ">";
}
.t1{
  color: #616161;
  font-size: 14px;
}
.t2{
  color: #333333;
    font-size: 14px;
}
._nav{
  padding-top:10px !important; 
  padding-bottom:10px !important; 
  background: #F5F5F5;
}

.tc{
  font-size: 14px;
  font-weight: normal;
  color: #555555;
}

.w_20{
  width: 20%;
}
._bh{
  font-size: 14px;
    font-weight: normal;
    color: rgb(119, 119, 119);
    font-family: 微软雅黑;
}
._bh1{
  font-size: 14px;
    font-weight: normal;
    color: rgb(221, 99, 99);
    font-family: 微软雅黑;
}
.bh{
  border-top:1px dashed #DDD; 
}
.nav-link {
  padding: 15px !important;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.bh0{
  border-top:1px solid #DDD;
}
.ms1{
  font-size: 24px;
}
.qt1{
  font-size: 14px;
  font-weight: bold;
  color: #777777;
}
.qt2{
  font-size: 14px;
    font-weight: normal;
    color: #777777;
}
.qi1{
  background: #F7F7F7;
}
.pl{
  border-top:3px solid #EEE; 
}



.bt{
  font-size: 14px;
    
    height: 45px!important;
    width: 38px!important;
}
.inp{
  height: 45px!important;
    width: 38px!important;
}
.zj{
  font-size: 17px;
  font-weight: normal;
  color: #555555;
}
._price{
  font-size: 26px;
      font-weight: bold;
      color: #dd3333;
      font-family: tahoma;
      line-height: 26px;
}














