*{margin:0;padding: 0 !important}

/* 登录 */
.bg_dark{
  background-color: #272727;
}
a:hover{
  text-decoration: none;
}
.login{
  color: rgb(141, 144, 149);
  font-size: 12px;
  font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
  line-height: 8px;
}
.bg_header{
  background: #0a0a0a
}
.login-a{
  font-size:15px; 
  padding-top: 40px !important;
}
.search{
  padding-top: 26px !important;
}
.search-item{
  background:transparent;
  border:1px solid #ccc;
  font-size:14px;
  padding-left: 15px !important;
  font-family:微软雅黑;
  height:37px;
  border-top: 1px solid rgba(55,55,55,1) !important;
  border-bottom: 1px solid rgba(55,55,55,1) !important;
  border-left: 1px solid rgba(55,55,55,1) !important;
  border-right: 1px solid rgba(55,55,55,1) !important;
  color: #fff;
}
